/*General Style*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1439405326854-014607f694d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center/ cover;
}


.container {
    background: white;
    height: 30%;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 0 3px;
}


.timer {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    padding: 35px;
}

.buttons {
    text-align: center;

}

button {
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: white;
}

#pause {
    cursor: pointer;
    background-color: cornflowerblue;
}

#reset {
    cursor: pointer;
    background-color: coral;
}

#play {
    width: 50px;
    cursor: pointer;
    background-color:  deepskyblue;
}

#play:active{
    box-shadow: 0 0 1px black;
}

#reset:active {
    box-shadow: 0 0 1px black;
}